<!-- StreamWood code -->
<script is:inline defer src="https://clients.streamwood.ru/code?swKey=f78e77f0276264fd3f9f976c2241081a&swDomainKey=93011e840002b732d644838a61319a25" charset="utf-8"></script>
<!-- /StreamWood code -->
<!-- StreamWood QUIZ code -->
<script is:inline defer src="https://clients.streamwood.ru/quiz/code/?swKey=f78e77f0276264fd3f9f976c2241081a&swDomainKey=93011e840002b732d644838a61319a25" charset="utf-8"></script>
<!-- /StreamWood QUIZ code -->

<!-- Top.Mail.Ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "3627700", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
    if (d.getElementById(id)) return;
    var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
    ts.src = "https://top-fwz1.mail.ru/js/code.js";
    var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "tmr-code");
</script>
<noscript><div><img src="https://top-fwz1.mail.ru/counter?id=3627700;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div></noscript>
<!-- /Top.Mail.Ru counter -->
